%h1 New quadratic equation

= form_tag({controller: "equation", action: "solve_quad"}, method: :post) do
  .params-input
    = number_field_tag :a, nil, placeholder: 'a'
    &sdot; x<sup>2</sup> +
    = number_field_tag :b, nil, placeholder: 'b'
    \x +
    = number_field_tag :c, nil, placeholder: 'c'
    \= 0
  %br
    = submit_tag "Solve", class: 'btn btn-success'
    = link_to 'Back', root_path, class: 'btn btn-default'