<!DOCTYPE html>
<html>
<head>
  <title>Equation solver</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="logo text-muted">Equation solver</h3>
    </div>

    
      <% flash.each do |key, value| %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Error: </strong><%= value %>
        </div>
      <% end %>
      <div class="well">
      <div class="content">
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <p><small>©Pavlovsky Evgenie 2014<small></p>
    </div>

  </div>
</body>
</html> 
